/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {

    chosen {
      zmk,battery = &vbatt;
    };

    vbatt: vbatt {
        compatible = "zmk,battery-nrf-vddh";
        label = "VBATT";
    };

    macros {
        ctrl_shift_f: ctrl_shift_f {
            label = "IJ find in files";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT &kp LCTRL>
                , <&macro_tap &kp F>
                , <&macro_release &kp F &kp LSHFT &kp LCTRL>
                ;
        };
        cmd_n: cmd_n {
            label = "IJ open class";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCMD>
                , <&macro_tap &kp N>
                , <&macro_release &kp LCMD &kp N>
                ;
        };
        shift_alt_up: shift_alt_up {
            label = "IJ move up";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT &kp LALT>
                , <&macro_tap &kp UP>
                , <&macro_release &kp LSHFT &kp LALT>
                ;
        };
        shift_alt_down: shift_alt_down {
            label = "IJ move down";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT &kp LALT>
                , <&macro_tap &kp DOWN>
                , <&macro_release &kp LSHFT &kp LALT>
                ;
        };
        shift_f6: shift_f6 {
                    label = "IJ rename";
                    compatible = "zmk,behavior-macro";
                    #binding-cells = <0>;
                    bindings
                        = <&macro_press &kp LSHFT>
                        , <&macro_tap &kp F6>
                        , <&macro_release &kp LSHFT>
                        ;
                };
                alt_cmd_m: alt_cmd_m {
                            label = "IJ extract method";
                            compatible = "zmk,behavior-macro";
                            #binding-cells = <0>;
                            bindings
                                = <&macro_press &kp LCMD &kp LALT>
                                , <&macro_tap &kp M>
                                , <&macro_release &kp LCMD &kp LALT>
                                ;
                        };


                        alt_cmd_var: alt_cmd_var {
                                                    label = "IJ extract variable";
                                                    compatible = "zmk,behavior-macro";
                                                    #binding-cells = <0>;
                                                    bindings
                                                        = <&macro_press &kp LCMD &kp LALT>
                                                        , <&macro_tap &kp V>
                                                        , <&macro_release &kp LCMD &kp LALT>
                                                        ;
                                                };

                        alt_cmd_f: alt_cmd_f {
                                                    label = "IJ extract field";
                                                    compatible = "zmk,behavior-macro";
                                                    #binding-cells = <0>;
                                                    bindings
                                                        = <&macro_press &kp LCMD &kp LALT>
                                                        , <&macro_tap &kp F>
                                                        , <&macro_release &kp LCMD &kp LALT>
                                                        ;
                                                };

                                                alt_cmd_c: alt_cmd_c {
                                                                            label = "IJ extract const";
                                                                            compatible = "zmk,behavior-macro";
                                                                            #binding-cells = <0>;
                                                                            bindings
                                                                                = <&macro_press &kp LCMD &kp LALT>
                                                                                , <&macro_tap &kp C>
                                                                                , <&macro_release &kp LCMD &kp LALT>
                                                                                ;
                                                                        };

        macro_gt: macro_gt {
            label = "macro_gt";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHIFT>
                , <&macro_tap &kp GRAVE>
                , <&macro_release &kp LSHIFT>
                ;
        };
         macro_lt: macro_lt {
                    label = "macro_lt";
                    compatible = "zmk,behavior-macro";
                    #binding-cells = <0>;
                    bindings
                        =
                        <&macro_tap &kp GRAVE>
                        ;
                };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
// |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
//                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |
			bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3   &kp N4   &kp N5                       &kp N6    &kp N7            &kp N8            &kp N9  &kp N0   &kp MINUS
&kp TAB   &kp Q  &kp W  &kp E    &kp R    &kp T                        &kp Y     &kp U             &kp I             &kp O   &kp P    &kp LBKT
&kp LCTRL &kp A  &kp S  &kp D    &kp F    &kp G                        &kp H     &kp J             &kp K             &kp L   &kp SEMI &kp SQT
&kp LCMD  &kp Z  &kp X  &kp C    &kp V    &kp B  &kp RET    &kp BSPC   &kp N     &kp M             &kp COMMA         &kp DOT &kp UP   &kp DOWN
                        &kp LALT &kp LCMD &mo 1  &kp LSHFT  &kp SPACE  &mo 2    &hm HOME LEFT     &hm END RIGHT
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};

		lower_layer {
// ------------------------------------------------------------------------------------------------------------
// | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
// |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
// |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
// |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
//                     |      |      |      |        |  |       |      |       |       |
			bindings = <
&trans     &kp F1     &kp F2     &kp F3     &kp F4          &kp F5                        &kp F6      &kp F7           &kp F8          &kp F9    &kp F10          &trans
&trans     &trans     &trans     &shift_f6  &trans          &trans                        &trans      &trans           &trans          &trans    &trans           &trans
&trans     &trans     &trans     &trans     &ctrl_shift_f   &trans                        &trans      &trans           &trans          &trans    &trans           &trans
&trans     &trans     &alt_cmd_m &alt_cmd_c &alt_cmd_v      &alt_cmd_f &trans   &kp DEL   &cmd_n      &trans           &trans          &trans    &shift_alt_up    &shift_alt_down
                                 &trans     &trans          &trans     &trans   &trans    &trans      &trans           &trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};

        top_layer {
        // ------------------------------------------------------------------------------------------------------------
        // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
        // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
        // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
        // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
        //                     |      |      |      |        |  |       |      |       |       |
                    bindings = <
        &trans     &kp F1     &kp F2     &kp F3   &kp F4          &kp F5                       &kp F6      &kp F7           &kp F8          &kp F9    &kp F10          &trans
        &macro_gt  &trans     &trans     &trans   &trans          &trans                       &trans      &trans           &trans          &trans    &trans           &trans
        &trans     &trans     &trans     &trans   &trans          &trans                       &trans      &trans           &trans          &trans    &trans           &trans
        &trans     &trans     &trans     &trans   &trans          &trans    &trans   &macro_lt &trans      &trans           &trans          &trans    &trans           &trans
                                         &trans   &trans          &trans    &trans   &trans    &trans      &trans           &trans
                    >;

                    sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
                };


	};
};
